<h1><i class="fa fa-github-alt" aria-hidden="true"></i>
  GitHub Search</h1>
<form action="">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="username"
      name="username"
      placeholder="Please enter GitHub Username"
      (keyup)="findProfile()"
    />
  </div>
</form>

<div class="row" *ngIf="profile">
  <div class="col-md-4">
    <img
      src="{{ profile.avatar_url }}"
      alt=""
      class="img-fluid"
      width="300px"
    />
    <p>{{ profile.login }}</p>
    <p>{{ profile.name }}</p>
    <div class="meta d-flex">
      <p>
        <span class="badge badge-warning"
          >Following: {{ profile.following }}</span
        >
      </p>
      <p>
        <span class="badge badge-success"
          >Followers: {{ profile.followers }}</span
        >
      </p>
      <p class="badge badge-danger">Repositories:{{ profile.public_repos }}</p>
    </div>
    <a href="{{ profile.html_url }}" target="_blank" class="btn btn-success"
      >View Full Profile</a
    >
  </div>
  <div class="col-md-8">
    <div class="repos card" *ngFor="let repo of repos" appShadow>
      <h4>{{ repo.name }}</h4>
      <div class="repo-data d-flex">
        <p class="badge badge-primary">
          <i class="fa fa-star" aria-hidden="true"></i>{{ repo.forks }}
        </p>
        <p class="badge badge-warning">
          <i class="fa fa-code-fork" aria-hidden="true"></i>{{ repo.watchers }}
        </p>
      </div>
      <p>{{ repo.description }}</p>
    </div>
  </div>
</div>
